<h1>Create a Post!</h1>



<form action="/update_post/<%=params[:id]%> " id="create_form" method="POST">
  Name: <input type="text" name="post[name]" value="<%= @post.try(:name)%>"><br>
  Location: <input type="text" name="post[location]" value="<%= @post.try(:location)%>"><br>
  Price: <input type="integer" name="post[price]" value="<%=@post.try(:price)%>"><br>
  

  <input type="submit">
</form>
